<nav  class="navbar navbar-expand-lg fixed-top p-0"  style="background-color: #2ec5fc">
  <div class="container-fluid">
    <ul class="navbar-nav me-auto mb-5 mb-lg-0">
      <li class="nav-item">
        {{#if currentUser}}
          <a
            class="nav-link active nav-btn-in custom-btn1 btn-12"
            id="iniciar-btn"
            aria-current="page"
            href="/logout"
          >
            <span>Te esperamos!</span>
            <span>Desconectarse</span></a>
        {{else}}
          <a
            class="nav-link active nav-btn-in custom-btn1 btn-12"
            id="iniciar-btn"
            aria-current="page"
            href="/"
          >
            <span>Nos vemos pronto!</span>
            <span>Regístrate o logeate!</span></a>
        {{/if}}
      </li>
      <div class="dropdown">
  <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
    <img src="https://res.cloudinary.com/dthjynocl/image/upload/v1663550012/imgs/a%20links/int_bf5jcm.png" alt="links" width="40px">
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    <a id="logo-iron" class="zoom-logo" href="https://www.ironhack.com/es"><img
        src="https://res.cloudinary.com/dthjynocl/image/upload/v1663550012/imgs/a%20links/iron2_usqik9.png"
        alt="ups, logo? que logo="
        width="45px"
      />
    </a>
    <a id="logo-react" class="zoom-logo" href="https://es.reactjs.org/"><img
        src="https://res.cloudinary.com/dthjynocl/image/upload/v1663552155/imgs/a%20links/react_zsv2a2.png"
        alt="ups, logo? que logo="
        width="45px"
      />
    </a>
    <a id="logo-gitHub" class="zoom-logo" href="https://github.com/"><img
        src="https://res.cloudinary.com/dthjynocl/image/upload/v1663550003/imgs/a%20links/gitHub_uom7l0.png"
        alt="ups, logo? que logo="
        width="45px"
      />
    </a>
    <a
      id="logo-wiki"
      class="zoom-logo"
      href="https://es.wikipedia.org/wiki/Wikipedia:Portada"
    ><img src="https://res.cloudinary.com/dthjynocl/image/upload/v1663550025/imgs/a%20links/wiki_vz5dbi.png" alt="ups, logo? que logo=" width="45px" />
    </a>
    <a id="logo-student" class="zoom-logo" href="https://my.ironhack.com"><img
        src="https://res.cloudinary.com/dthjynocl/image/upload/v1663550012/imgs/a%20links/ironstudent_q1bbfv.png"
        alt="ups, logo? que logo="
        width="45px"
      />
    </a>
  </ul>
</div>
    </ul>


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-lg-0">
        <li class="nav-item">
          {{#if currentUser}}
            <a class="nav-link nav-btn {{navActive "/profile" route}}" href="/profile">
              <span class="{{navSpin "/profile" route}}"> &#128216</span>   Libreta:
                {{upperCase currentUser.nickname}}</span></a>
          {{/if}}
        </li>
        
        <li class="nav-item">
          {{#if currentUser}}
            <a class="nav-link nav-btn {{navActive "/create-definition" route}}" href="/create-definition">
              <span> <span class="{{navSpin "/create-definition" route}}" >&#128167</span> Crear definición</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-btn {{navActive "/list" route}}" href="/list">
          <span> <span class="{{navSpin "/list" route}}">&#128166</span> Definiciones de usuarios</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-btn {{navActive "/users" route}}" href="/users">
          <span> <span class="{{navSpin "/users" route}}">&#128101</span> Users</span></a>
        </li>
        {{else}}
                <li class="nav-item {{navActive "/profile" route}}">
          <a class="nav-link nav-btn1" href="/list"><span>&#11088&#11088&#11088 Hazte una cuenta para disfrutar de muchísimas ventajas</span></a>
        </li>
    {{/if}}
      </ul>
      <a  class="logo-mod zoom-logo-mod {{navActiveMod "/begin" route}}" href="/begin"><img
          src="https://res.cloudinary.com/dthjynocl/image/upload/v1663550019/imgs/a%20links/mod1_nb39jj.png"
          alt="ups, logo? que logo="
          width="80px"
        />
      </a>
      <a class="logo-mod zoom-logo-mod {{navActiveMod "/main" route}}" href="/main"><img
          src="https://res.cloudinary.com/dthjynocl/image/upload/v1663550019/imgs/a%20links/mod2_f3eofd.png"
          alt="ups, logo? que logo="
          width="80px"

        />
      </a>
      <a class="logo-mod zoom-logo-mod me-4 {{navActiveMod "/next" route}}" href="/next"><img
          src="https://res.cloudinary.com/dthjynocl/image/upload/v1663550020/imgs/a%20links/mod3_pecfve.png"
          alt="ups, logo? que logo="
          width="80px"

        />
      </a>
      <form class="d-flex col-4 searchers" method="GET" role="search" name="filterer">
                <input
          id="form-word"
          class="form-select"
          type="text"
          name="name"
          value="{{query.name}}"
          placeholder="&#128394   Por término..."
          aria-label="Search"
        />
        <select
          id="form-category"
          name="category"
          class="form-select"
          size="1"
          aria-label="select example"
          onchange="this.form.submit()"
        >
          <option selected disabled value="0">&#10549 Por categoría... </option>
          <option value="Internet" name="category">&#128187 Internet</option>
          <option value="Librería" name="category">&#128218 Librerías/Frameworks</option>
          <option value="Programa" name="category">&#127899 Programas/aplicaciones</option>
          <option value="React" name="category">&#128160 React</option>
          <option value="Lab" name="category">&#128300 Laboratorios</option>
          <option value="Función" name="category">&#9874 Funciones</option>
          <option value="Otros" name="category">&#128391 Otros...</option>
        </select>

        <button
          class="nav-btn-in custom-btn1 btn-11"
          id="iniciar-btn"
          type="submit"
        ><span>Suerte!</span> <span>Buscar</span></button>

      </form>
    </div>
  </div>
</nav>
