{{> navbar}}

<h1>Mensaje secreto</h1>  
<hr>
<hr>
<hr>
<h1 id="text-welcome-main" class="mt-3">Funciones</h1>
<h5 id="text-welcome-under">Las piezas importantes y funciones útiles del modulo 1. Se rellena a medida que avanzamos</h5>
{{#each databases as |database|}} 
<div class="body-profile-img">
    <div class="card card-box-mod1">
        <div class="row">
                <div class="col-md-12 ">
                    <h5 class="card-title d-inline-flex mx-3 ">Tema: <span class="def-term"> {{database.name}}</span> </h5>           
                    {{#if database.link.[0]}}
                            <a href="{{database.link.[0]}}"><img src="https://res.cloudinary.com/du3v1mwzj/image/upload/v1661163307/iron-learning/imgs/icons/www_wvbnhw.png" width="50" class="img-link-zoom"  alt="No se what"></a>
                    {{/if}}
                    {{#if database.link.[1]}}
                            <a href="{{database.link.[1]}}"><img src="https://res.cloudinary.com/du3v1mwzj/image/upload/v1662248159/iron-learning/imgs/icons/wwr_xtmgu8.png" width="50" class="img-link-zoom"  alt="No se what"></a>
                    {{/if}}
                    {{#if database.link.[2]}}
                            <a href="{{database.link.[2]}}"><img src="https://res.cloudinary.com/du3v1mwzj/image/upload/v1662248159/iron-learning/imgs/icons/wwas_dmfqya.png" width="49" class="img-link-zoom"  alt="No se what"></a>
                    {{/if}}    
                    <div id="text-desc-container begin-position">
                            <div class="shadow-text1 begin-position">
                                <p class="pads"><span class="shadow-text-title1">Descripción:</span>   <span class="def-term-text">{{database.description}}</span> </p>
                            </div>
                    </div>
                    <div class="row m-1" >
                        <div class="col-sm-4">
                            {{#if database.example1}}
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">&nbsp&nbsp{{database.example1}}</h5>
                                    <p class="card-text"> <a href="{{database.img.[0]}}"><img class="img-hover-border" src={{database.img.[0]}} alt="Im" width="100%"></a></p>
                                </div>
                            </div>
                            {{/if}}
                        </div>
                        <div class="col-sm-4">   
                            {{#if database.example2}}
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">&nbsp&nbsp{{database.example2}}</h5>
                                    <p class="card-text"> <a href="{{database.img.[1]}}"><img class="img-hover-border" src={{database.img.[1]}} alt="Im" width="100%"></a></p>
                                </div>
                            </div>
                            {{/if}}
                        </div>
                        <div class="col-sm-4 ">     
                            {{#if database.example3}}
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">&nbsp&nbsp{{database.example3}}</h5>
                                    <p class="card-text"> <a href="{{database.img.[3]}}"><img class="img-hover-border" src={{database.img.[3]}} alt="Im" width="100%"></a></p>
                                </div>
                            </div>
                            {{/if}}
                        </div>
                    </div>
                    <div class="row m-1">
                        <div class="col-sm-4">
                            {{#if database.example4}}
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">&nbsp&nbsp{{database.example4}}</h5>
                                    <p class="card-text"> <a href="{{database.img.[4]}}"><img class="img-hover-border" src={{database.img.[4]}} alt="Im" width="100%"></a></p>
                                </div>
                            </div>
                            {{/if}}
                        </div>
                        <div class="col-sm-4">   
                            {{#if database.example5}}                    
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">&nbsp&nbsp{{database.example5}}</h5>
                                    <p class="card-text"> <a href="{{database.img.[5]}}"><img class="img-hover-border" src={{database.img.[5]}} alt="Im" width="100%"></a></p>
                                </div>
                            </div>
                            {{/if}}
                        </div>
                        <div class="col-sm-4 ">      
                            {{#if database.example6}}                 
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">&nbsp&nbsp{{database.example6}}</h5>
                                    <p class="card-text"> <a href="{{database.img.[6]}}"><img class="img-hover-border" src={{database.img.[6]}} alt="Im" width="100%"></a></p>
                                </div>
                            </div>
                            {{/if}}
                        </div>
                    </div>
                    </div>
                    <div>
                    {{#if database.img.[0]}}
                            <a href="{{database.img.[0]}}"><img src="{{database.img.[0]}}"   class="img-functions"  alt="No se what"></a>
                    {{/if}}
                    {{#if database.img.[1]}}
                            <a href="{{database.img.[1]}}"><img src="{{database.img.[1]}}"   class="img-functions"  alt="No se what"></a>
                    {{/if}}
                    {{#if database.img.[2]}}
                            <a href="{{database.img.[2]}}"><img src="{{database.img.[2]}}"   class="img-functions"  alt="No se what"></a>
                    {{/if}} 
                    </div>
                </div>
        </div>
    </div>
</div>
{{/each}}
<h1 id="relax-un-rato">Relájate y disfruta un rato mirando el firmamento... o juega un rato <a href="https://crisarranz.github.io/proyect-street-ironter/index.html"><img src="https://res.cloudinary.com/du3v1mwzj/image/upload/v1661271775/iron-learning/imgs/mix/street_iymrbr.jpg" alt="No image fondue.. con queso" width="5%"></a> </h1>
<div class="background-container">
<img class="moon-is-here" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/moon2.png" alt="Mooooon">
<div class="stars"></div>
<div class="twinkling"></div>
<div class="clouds"></div>

