    {{> navbar}}
 
        
<div class="body-main-img"  >
    <div class="row " id="main-page">
        {{#each databases as |database|}}
            <div class="col-3">
                <div class="card mt-5">

                    <img src="{{database.link}}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Término: {{database.name}}</h5>
                        <h5 class="card-title">Categoría: {{database.category}}</h5>
                        <p class="card-text">Descripción: {{database.description}}</p>
                        <p class="card-text">Ejemplo: {{database.example}}</p>
                        <p class="card-text">Fuente: <a href="{{database.link}}">{{database.link}}</a> </p>
                        <p class="card-text">Autor: {{database.author}}</p>
                        <a href="list/{{database.id}}" class="btn btn-primary">Ver detalles</a>
                    </div>
                    
                </div>
<div>
<img src="/imagenes/iron.png" width="20%" alt="lala" type="button" class="" data-bs-toggle="collapse" data-bs-target="#{{database.name}}{{database.example4}}" aria-expanded="false" aria-controls="collapseExample">
<img src="/imagenes/iconos/cine.png" width="33%" alt="lala" type="button" class="" data-bs-toggle="collapse" data-bs-target="#{{database.name}}{{database.example1}}" aria-expanded="false" aria-controls="collapseExample">
<img src="/imagenes/iconos/cocina.png" width="18%"  alt="lala" type="button" class="" data-bs-toggle="collapse" data-bs-target="#{{database.name}}{{database.example2}}" aria-expanded="false" aria-controls="collapseExample">
<img src="/imagenes/iconos/deporte.png" width="20%"  alt="lala" type="button" class="" data-bs-toggle="collapse" data-bs-target="#{{database.name}}{{database.example3}}" aria-expanded="false" aria-controls="collapseExample">
    
</div>
<div class="collapse" id="{{database.name}}{{database.example4}}">
  <div class="card card-body">
<p class="card-text">Ironhack Definition: {{database.example}}">{{database.example}} </p>
  </div>
</div>
<div class="collapse" id="{{database.name}}{{database.example1}}">
  <div class="card card-body">
<p class="card-text">Ejemplo: <a href="{{database.example}}">{{database.example}}</a> </p>
  </div>
</div>
<div class="collapse " id="{{database.name}}{{database.example2}}">
  <div class="card card-body">
<p class="card-text">Ejemplo: {{database.category}}
  </div>
</div>
<div class="collapse " id="{{database.name}}{{database.example3}}">
  <div class="card card-body">
<p class="card-text">Ejemplo: {{database.name}}
  </div>
</div>
            </div>
        {{/each}}
    </div>
</div>
