    {{> navbar}}
    
<h1>Mensaje secreto</h1> 
    <hr>
    <hr>
    <h1 id="text-welcome-main" class="mt-5">Te agradeceríamos aportar tus propios ejemplos </h1>
 {{#each databases as |database|}} 
<div>
<div class="card card-box-mod2 ">
  <div class="row">
    <div class="col-md-2 img-boxing zoom">
   <a href="{{database.link}}"><img src="{{database.link}}" width="100%" height="100%" class="" alt="..." class="d-flex"> </a> 
    </div>
    <div class="col-md-9">
                    <h5 class="card-title d-inline-flex mx-3 ">Término: <span class="def-term"> {{database.name}}</span></h5>               
                    <h5 class="pads d-inline-flex mx-3">Categoría:  <span class="def-term"> {{database.category}}</span></h5>
                    <div id="text-desc-container">
                        <div class="shadow-text1">
                          <p class="pads"><span class="shadow-text-title1">Descripción:</span>   <span class="def-term-text">{{database.description}}</span> </p>
                        </div>
                        <div class="shadow-text2">
                          <p class="pads"><span class="shadow-text-title2"> <img src="https://res.cloudinary.com/du3v1mwzj/image/upload/v1661164056/iron-learning/imgs/icons/iron_qpy89p.png" width="4%" alt="Logo de ironhack"></span>   <span class="def-term-text">{{database.example}}</span> </p>
                        </div>  
                    </div>
                    <div  id="icon-container" >
                      <img src="https://res.cloudinary.com/dthjynocl/image/upload/v1663549993/imgs/a%20links/cine_jnb6fv.png" width="6%" alt="Algo ha ido mal..." type="button"  class="zoom-example" data-bs-toggle="collapse" data-bs-target="#a{{spacesGone database.name}}" aria-expanded="false" aria-controls="collapseExample">
                      <img src="https://res.cloudinary.com/dthjynocl/image/upload/v1663549994/imgs/a%20links/cocina_xuy7eo.png" width="2.8%" alt="Algo ha ido mal..." type="button"  class="zoom-example" data-bs-toggle="collapse" data-bs-target="#b{{spacesGone database.name}}" aria-expanded="false" aria-controls="collapseExample">
                      <img src="https://res.cloudinary.com/dthjynocl/image/upload/v1663549998/imgs/a%20links/deporte_ofbmvk.png" width="3.3%"  alt="Algo ha ido mal..." type="button"  class="zoom-example" data-bs-toggle="collapse" data-bs-target="#c{{spacesGone database.name}}" aria-expanded="false" aria-controls="collapseExample">
                      {{#if ...currentUser}}
                      <img src="https://res.cloudinary.com/dthjynocl/image/upload/v1663550019/imgs/a%20links/mix_lbalji_idxkht.png" width="3.5%"  alt="Algo ha ido mal..." type="button"  class="zoom-example"  data-bs-toggle="collapse" data-bs-target="#e{{spacesGone  database.name}}" aria-expanded="false" aria-controls="collapseExample">
                          {{!--  --}}
                          <a id="download-icon" href="{{database.example4}}"><img src="https://res.cloudinary.com/dthjynocl/image/upload/v1663549998/imgs/a%20links/downloadmp4_yidmot_nn4pxo.png"  class="zoom-example"  alt="No se what" width="5%"></a>
                          <img src="https://res.cloudinary.com/dthjynocl/image/upload/v1663550028/imgs/a%20links/politica_v7onbq.png" width="5%"  alt="Algo ha ido mal..." type="button"  class="zoom-example "  data-bs-toggle="collapse" data-bs-target="#d{{spacesGone  database.name}}" aria-expanded="false" aria-controls="collapseExample">
                          <a  id="" href="{{database.file}}"><img src="https://res.cloudinary.com/dthjynocl/image/upload/v1663550020/imgs/a%20links/www_loomue.png" width="4%"  class="zoom-example"  alt="No se what"></a>

                      {{/if}}
               </div>

    </div>
  </div>
  <div id="info-example-container">
{{!-- example 1 --}}
<div class="collapse head-toast-main"  id="a{{spacesGone database.name}}">
    <button type="button" class="btn" data-bs-dismiss="paco" aria-label="Close">&#10060</button>
 <spam class="spm">Cine</spam class="spm">
  <div class="card card-body">
<p class="card-text-col1"><span style="font-weight:bolder; font-family: Permanent Marker" ></span>&nbsp&nbsp&nbsp&nbsp{{ database.example1}} </p>
  </div>

</div>

{{!-- example2 --}}
<div class="collapse head-toast-main" id="b{{spacesGone database.name}}">
      <button type="button" class="btn" data-bs-dismiss="toast" aria-label="Close">&#10060</button>
 <spam class="spm">Cocina</spam class="spm">
  <div class="card card-body">
<p class="card-text-col2"><span style="font-weight:bolder; font-family: Permanent Marker" ></span>&nbsp&nbsp&nbsp&nbsp {{database.example2}} </p>
  </div>




{{!-- example3 --}}

</div>
<div class="collapse head-toast-main" id="c{{spacesGone database.name}}">
        <button type="button" class="btn" data-bs-dismiss="toast" aria-label="Close">&#10060</button>
  <spam class="spm">Deporte</spam class="spm">
  <div class="card card-body">
<p class="card-text-col3"><span style="font-weight:bolder; font-family: Permanent Marker" ></span>&nbsp&nbsp&nbsp&nbsp {{database.example3}}
  </div>
</div>


{{!-- video --}}

<div class="collapse head-toast-video" id="d{{spacesGone database.name}}">
        <button type="button" class="btn" data-bs-dismiss="toast" aria-label="Close">&#10060</button>
                    <video width="100%" controls>
                        <source src="{{database.video}}" type="video/mp4">    
                    </video>
  </div>

{{!-- example5 --}}
<div class="collapse head-toast-main" id="e{{spacesGone database.name}}">
        <button type="button" class="btn" data-bs-dismiss="toast" aria-label="Close">&#10060</button>
 <spam class="spm">Ejemplos de Usuarios</spam class="spm">
   <a href="/main/{{database.id}}/newexample/ironhack"> <img src="https://res.cloudinary.com/dthjynocl/image/upload/v1663549993/imgs/a%20links/create_faqqko.png" alt="eh" width="8%" id="btn-newexample-go"></a>
  <div class="card card-body">
<p class="card-text-col5">      
          <p class=" new-example-letter">   
                    {{#each ../newexamples as |newexample|}}
                          {{#if (match newexample database.id)}}
                          
                    <div class="card-text-col5">
                        &nbsp;&nbsp;&nbsp;&nbsp; <img id="profile-pic-smaller" src="{{newexample.author.profilePic}}" alt="eeee">{{newexample.newexample}}    
                    </div>
                        <hr> 
                                {{#if ../../currentUser.admin}}
                                <form action="/main/{{newexample.id}}/delete" method="post">
                                    <button class="btn-9a custom-btn-9a" type="submit">&#128163 Borrado por Admin &#128163</button>
                                </form>                       
                                {{/if}}
                          {{/if}}
                    {{/each}}
                    </p>
                    </p>
  </div>
</div>
</div>
  </div>
            </div>
        {{/each}}
 </div>
<h1 id="relax-un-rato">Relájate y disfruta un rato mirando el firmamento... o juega un rato <a href="https://crisarranz.github.io/proyect-street-ironter/index.html"><img src="https://res.cloudinary.com/du3v1mwzj/image/upload/v1661271775/iron-learning/imgs/mix/street_iymrbr.jpg" alt="No image fondue.. con queso" width="5%"></a> </h1>
  <div class="background-container">
<img class="moon-is-here" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/moon2.png" alt="Mooooon">
<div class="stars"></div>
<div class="twinkling"></div>
<div class="clouds"></div>

