    {{> navbar}}
<h1>Mensaje secreto</h1>  
    
    <h1 id="text-welcome-main" class="mt-5">Te agradeceríamos aportar tus propios ejemplos </h1>

 {{#each databases as |database|}} 
<div class="body-profile-img">
<div class="card card-box">
  <div class="row">
    <div class="col-md-2 img-boxing zoom">
   <a href="{{database.link}}"><img src="{{database.link}}" width="100%" height="100%" class="" alt="..." class="d-flex"> </a> 
    </div>
    <div class="col-md-9">
                    <h5 class="card-title d-inline-flex mx-3 ">Término: <span class="def-term"> {{database.name}}</span></h5>               
                    <h5 class="pads d-inline-flex mx-3">Categoría:  <span class="def-term"> {{database.category}}</span></h5>
                    <div id="text-desc-container">
                        <div class="shadow-text1">
                          <p class="pads"><span class="shadow-text-title1">Descripción:</span>   <span class="def-term-text">{{database.description}}</span> </p>
                        </div>

                        <div class="shadow-text2">
                          <p class="pads"><span class="shadow-text-title2"> <img src="/imagenes/iron.png" width="4%" alt="Logo de ironhack"></span>   <span class="def-term-text">{{database.example}}</span> </p>
                        </div>  
                    </div>
                    <div  id="icon-container" >
                    <img src="/imagenes/iconos/cine.png" width="6%" alt="lala" type="button"  class="zoom-example" data-bs-toggle="collapse" data-bs-target="#b{{spacesGone database.name}}" aria-expanded="false" aria-controls="collapseExample">
                    <img src="/imagenes/iconos/deporte.png" width="3.3%"  alt="lala" type="button"  class="zoom-example" data-bs-toggle="collapse" data-bs-target="#c{{spacesGone database.name}}" aria-expanded="false" aria-controls="collapseExample">
                    {{#if ...currentUser}}
                    <img src="/imagenes/iconos/cocina.png" width="2.8%"  alt="lala" type="button"  class="zoom-example"  data-bs-toggle="collapse" data-bs-target="#d{{spacesGone  database.name}}" aria-expanded="false" aria-controls="collapseExample">
                    <img src="/imagenes/iconos/mix.png" width="3.5%"  alt="lala" type="button"  class="zoom-example"  data-bs-toggle="collapse" data-bs-target="#e{{spacesGone  database.name}}" aria-expanded="false" aria-controls="collapseExample">
                    <div class="image-hover-text-container">
                    {{!--  --}}
                      <div class="image-hover-image">
                        <a id="download-icon" href="{{database.example5}}"><img src="/imagenes/iconos/cloud-download_13.png"  alt="No se what"></a>
                      </div>
                      <div class="image-hover-text">
                        <div class="image-hover-text-bubble">
                    <a style="text-decoration: none; color: black"  href="{{database.example5}}">Descargar video del término</a>
                        </div>
                      </div>
                    </div>
                    {{!--  --}}
                    <div class="image-hover-text-container-2">
                      <div class="image-hover-image-2">
                        <a style="text-decoration: none; color: black" id="download-icon-2" href="{{database.file}}"><img src="/imagenes/iconos/flechaout.png"  alt="No se what"></a>

                      </div>
                      <div class="image-hover-text-2">
                        <div class="image-hover-text-bubble-2">
                          <a href="{{database.file}}">ir a la fuente</a>
                        </div>
                      </div>
                    </div>
                    {{/if}}
               </div>

    </div>
  </div>
  <div id="info-example-container">
{{!-- example 1 --}}
<div class="toast collapse card-text-box" id="a{{spacesGone database.name}}">

    <button type="button" class="btn" data-bs-dismiss="toast" aria-label="Close">&#10060</button>
 <spam class="spm">Ironhack</spam class="spm">
  <div class="card card-body">
<p class="card-text-col1"><span style="font-weight:bolder; font-family: Permanent Marker" ></span>{{spacesGone database.example1}} </p>
  </div>

</div>

{{!-- example2 --}}
<div class="toast collapse card-text-box" id="b{{spacesGone database.name}}">
      <button type="button" class="btn" data-bs-dismiss="toast" aria-label="Close">&#10060</button>
              <a href="/main/{{database.id}}/newexample/ironhack">Example</a>

 <spam class="spm">Cine</spam class="spm">
  <div class="card card-body">
<p class="card-text-col2"><span style="font-weight:bolder; font-family: Permanent Marker" ></span> {{database.example2}} </p>
  </div>




{{!-- example3 --}}

</div>
<div class="toast collapse  card-text-box" id="c{{spacesGone database.name}}">
        <button type="button" class="btn" data-bs-dismiss="toast" aria-label="Close">&#10060</button>
  <spam class="spm">Cocina</spam class="spm">
  <div class="card card-body">
<p class="card-text-col3"><span style="font-weight:bolder; font-family: Permanent Marker" ></span> {{database.category}}
  </div>
</div>


{{!-- example4 --}}

<div class="toast collapse  card-text-box" id="d{{spacesGone database.name}}">
        <button type="button" class="btn" data-bs-dismiss="toast" aria-label="Close">&#10060</button>
 <spam class="spm">Deporte</spam class="spm">
  <div class="card card-body">
<p class="card-text-col4"> <span style="font-weight:bolder; font-family: Permanent Marker" ></span>  {{database.name}}
  </div>
</div>

{{!-- example5 --}}
<div class="toast collapse  card-text-box" id="e{{spacesGone database.name}}">
        <button type="button" class="btn" data-bs-dismiss="toast" aria-label="Close">&#10060</button>
 <spam class="spm">Ejemplos de Usuarios</spam class="spm">
   <a href="/main/{{database.id}}/newexample/ironhack"> <img src="/imagenes/iconos/create.png" alt="eh" width="8%" id="btn-newexample-go"></a>
  <div class="card card-body">
<p class="card-text-col5">      
    <div class="">
          <p class="card-text-col5 new-example-letter">   
                    {{#each ../newexamples as |newexample|}}
                 &nbsp;&nbsp;&nbsp;&nbsp; &#128526 {{newexample.newexample}}   
                 <hr> 
                        {{#if ../../currentUser.admin}}
                        <form action="/main/{{newexample.id}}/delete" method="post">
                            <button class="btn-9a custom-btn-9a" type="submit">&#128163 &#9757 Borrado por Admin &#9757 &#128163</button>
                        </form>
                        
                        {{/if}}
                    {{/each}}
                    </p>
                    </p>
      </div>
  </div>
</div>


  </div>
            </div>
        {{/each}}
<img src="imagenes/fondos/fondoBlue.jpg" class="img-list"  alt="falta imagen">


 </div>
<h1 id="relax-un-rato">Relájate y disfruta un rato mirando el firmamento...</h1>
  <div class="background-container">
<img class="moon-is-here" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/moon2.png" alt="Mooooon">
<div class="stars"></div>
<div class="twinkling"></div>
<div class="clouds"></div>
