    {{> navbar}}
    
 <div id="body-profile-img">
<h1>Mensaje secreto</h1>  
 {{#each databases as |database|}} 
<div class="body-profile-img">
<div class="card card-box">
  <div class="row">
    <div class="col-md-2 img-boxing zoom">
   <a href="{{database.link}}"><img src="{{database.link}}" width="100%" height="100%" class="" alt="..." class="d-flex"> </a> 
    </div>
    <div class="col-md-8">
                    <h5 class="card-title d-inline-flex mx-3 ">Término: <span class="def-term"> {{database.name}}</span></h5>               
                    <h5 class="pads d-inline-flex mx-3">Categoría:  <span class="def-term"> {{database.category}}</span></h5>
                    <div id="text-desc-container">
                        <div class="shadow-text1">
                          <p class="pads"><span class="shadow-text-title1">Descripción:</span>   <span class="def-term-text">{{database.description}}</span> </p>
                        </div>
              <a href="/main/{{database.id}}/newexample">Example</a>

                        <div class="shadow-text2">
                          <p class="pads"><span class="shadow-text-title2">Ejemplo:</span>   <span class="def-term-text">{{database.example}}</span> </p>
                        </div>  
                    </div>
                    <div  id="icon-container" >
                    <img src="/imagenes/iron.png" width="3%" alt="lala" type="button"  class="zoom-example"  data-bs-toggle="collapse" data-bs-target="#{{spacesGone database.name database.example4}}" aria-expanded="false" aria-controls="collapseExample">
                    <img src="/imagenes/iconos/cine.png" width="6%" alt="lala" type="button"  class="zoom-example" data-bs-toggle="collapse" data-bs-target="#{{spacesGone database.name}}{{database.example1}}" aria-expanded="false" aria-controls="collapseExample">
                    
                    {{#if ...currentUser}}
                    <img src="/imagenes/iconos/deporte.png" width="3.3%"  alt="lala" type="button"  class="zoom-example" data-bs-toggle="collapse" data-bs-target="#{{spacesGone database.name}}{{database.example3}}" aria-expanded="false" aria-controls="collapseExample">
                    <img src="/imagenes/iconos/cocina.png" width="2.8%"  alt="lala" type="button"  class="zoom-example"  data-bs-toggle="collapse" data-bs-target="#{{spacesGone database.name}}{{database.example2}}" aria-expanded="false" aria-controls="collapseExample">
                    {{/if}}
               </div>
    </div>
  </div>
  <div id="info-example-container">

<div class="toast collapse card-text-box" id="{{spacesGone database.name}}">

    <button type="button" class="btn" data-bs-dismiss="toast" aria-label="Close">&#10060</button>
 <spam class="spm">Ironhack</spam class="spm">
  <div class="card card-body">
<p class="card-text-col1"><span style="font-weight:bolder; font-family: Permanent Marker" ></span>{{spacesGone database.name}} </p>
                        {{!-- {{#each ...newexamples as |newexample|}}
                    <h5>NewExample: {{newexample.newexample}}</h5>               
                    {{/each}} --}}
  </div>
</div>
<div class="toast collapse card-text-box" id="{{spacesGone database.name}}{{database.example1}}">
      <button type="button" class="btn" data-bs-dismiss="toast" aria-label="Close">&#10060</button>
 <spam class="spm">Cine</spam class="spm">
  <div class="card card-body">
<p class="card-text-col2"><span style="font-weight:bolder; font-family: Permanent Marker" ></span> <a href="{{database.example}}">{{database.example}}</a> </p>
  </div>
</div>
<div class="toast collapse  card-text-box" id="{{spacesGone  database.name}}{{database.example2}}">
        <button type="button" class="btn" data-bs-dismiss="toast" aria-label="Close">&#10060</button>
  <spam class="spm">Cocina</spam class="spm">
  <div class="card card-body">
<p class="card-text-col3"><span style="font-weight:bolder; font-family: Permanent Marker" ></span> {{database.category}}
  </div>
</div>
<div class="toast collapse  card-text-box" id="{{spacesGone database.name}}{{database.example3}}">
        <button type="button" class="btn" data-bs-dismiss="toast" aria-label="Close">&#10060</button>
 <spam class="spm">Deporte</spam class="spm">
  <div class="card card-body">
<p class="card-text-col4"> <span style="font-weight:bolder; font-family: Permanent Marker" ></span>  {{database.name}}
  </div>
</div>
  </div>
            </div>
        {{/each}}


 </div>

  