    {{> navbar}}

<img id="body-def-img" src=https://fondosmil.com/fdo/20924.jpg alt="lala">
<div id="definition-form-position">
<form action="/create-definition" method="POST" enctype="multipart/form-data">
    <div class="definitions">
        <div class="d-flex" >
            <div class=" content-container col-5 ">
                    <label for="name" class="form-label create-word-back">Concepto </label>
                    <input type="text"  class="form-control {{#if errors.name}} is-invalid {{/if}}" name="name" id="name" value="{{definition.name}}"> 
                    {{#if errors.name}}<div class="invalid-feedback">{{errors.name}}</div>{{/if}}
            </div>

            <div class=" content-container col-5">
                <label for="category" class="form-label create-word-back">Categoría</label>
                <select name="category"  class="form-control {{#if errors.category}} is-invalid {{/if}}" id="category" value="{{definition.category}}">
                    <option selected disabled value="">Selecciona la categoría...</option>
                    <option value="&#128187 Internet">Internet</option>
                    <option value="&#128218 Librería/Framework">Librería/Framework</option>
                    <option value="&#127899 Programa/Aplicación">Programa/Aplicación</option>
                    <option value="&#128391 Otros">Otros...</option>
                </select>
            {{#if errors.category}}<div class="invalid-feedback">{{errors.category}}</div>{{/if}}
            </div>
        </div>

        <div class="content-container col-10">
            <label for="description" class="form-label create-word-back">Definición</label>
            <textarea rows="3" name="description" id="description" class="form-control {{#if errors.description}} is-invalid {{/if}}" value="{{definition.description}}">{{definition.description}}</textarea>
                    {{#if errors.description}}<div class="invalid-feedback">{{errors.description}}</div>{{/if}}
        </div>

        
        <div class=" content-container col-10">
            <label for="example" class="form-label create-word-back">Ejemplo</label>
            <textarea rows="3" name="example" id="example" class="form-control {{#if errors.example}} is-invalid {{/if}}" value="{{definition.example}}">{{definition.example}}</textarea>
                    {{#if errors.example}}<div class="invalid-feedback">{{errors.example}}</div>{{/if}} 
        </div>


            <label for="file" class="form-label create-word-back">Archivo</label>

        <div class=" col-10">
            <input type="file" name="file" value="{{definition.file}}" class="custom-file-input form-control {{#if errors.file}} is-invalid {{/if}}" type="file" id="file">
                    {{#if errors.file}}<div class="invalid-feedback">{{errors.file}}</div>{{/if}}
        </div>

        <div class=" col-10">
        <label for="link" class="form-label create-word-back">Fuente</label>
            <div class="input-group mb-2">
                <span for="link" class="input-group-text">www.bulala.com/tutut</span>
                <input type="text" name="link" value="{{definition.link}}" class="form-control {{#if errors.link}} is-invalid {{/if}}" id="link" placeholder="Proporciona un link que ayude con tu aportación" >
                    {{#if errors.link}}<div class="invalid-feedback">{{errors.link}}</div>{{/if}}
            </div>
        </div>
            <button type="submit" class="btn btn-primary p-3 col-10">Crear ejemplo</button>
    </div>
    </form>
</div>


   <img class="edgar" src="../imagenes/edg-ojos.png" width="10%" alt="">

<div class="eyes-fixed">
  <div class="eyes">
      <div class="eye">
        <div class="ball"></div>
      </div>

      <div class="eye">
        <div class="ball"></div>
      </div>
    </div>
</div>