<h1>Editar información</h1>


<p>{{definition.name}}</p>
<p>{{definition.description}}</p>
<p>{{definition.example}}</p>
<p>{{definition.link}}</p>
<p>{{definition.author}}</p>
<p>{{definition.description}}</p>
<form action="/list/{{definition.id}}/delete" method="post">
    <button type="submit">Borrar ejemplo</button>
</form>
<a href="/list">Volver</a>