    {{> navbar}}
<div id="body-list-img">
    <div class="row" id="list-of">
    {{#each definitions as |definition|}}
        <div class="col-10">
            <div class="card mb-4">
                <img width="1%" src="{{definition.link}}"  class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Término: {{definition.name}}</h5>
                    <h5 class="card-title">Categoría: {{definition.category}}</h5>
                    <p class="card-text">Descripción: {{definition.description}}</p>
                    <p class="card-text">Ejemplo: {{definition.example}}</p>
                    <p class="card-text">Fuente: <a href="{{definition.link}}">{{definition.link}}</a> </p>
                    <p class="card-text">Autor: {{definition.author.nickname}}</p>
                    {{#if ...currentUser.admin}}
                <form action="/list/{{definition.id}}/delete" method="post">
                    <button type="submit">Borrar ejemplo</button>
                    {{/if}}
                </form>
                </div>
            </div>
        </div>
    {{/each}}
</div>