    {{> navbar}}
    <hr>
    <hr>
    <h1 id="text-welcome" class="mt-5">Gracias a todos por aportar sus gotas de conocimiento</h1>
    <hr>
    </div>
    {{#each definitions as |definition|}}
<div id="body-profile-top-img">
<div class="card card-box-profile">
  <div class="row ">
    <div class="col-md-2 img-boxing zoom">
   <a href="{{definition.link}}"><img src="{{definition.link}}" width="100%" height="100%" class="" alt="..." class="d-flex"> </a> 
    </div>
    <div class="col-md-9">
                    <h5 class="card-title d-inline-flex ">Término: <span class="def-term"> {{definition.name}}</span></h5>               
                    <h5 class="pads d-inline-flex mx-3">Categoría:  <span class="def-term"> {{definition.category}}</span></h5>
                    <h5 class="card-title d-inline-flex mx-3 ">Autor: <span class="def-term"> {{definition.author.nickname}}</span></h5>    
                                            <div class="date-box-1-box">
                        <h5 class="date-box-1 ">Última actualización:{{prettyDate definition.updatedAt}}</h5>
                    </div>
                        <div id="text-desc-container">
                          {{#if definition.description}}
                            <div class="shadow-text1">
                              <p class="pads"><span class="shadow-text-title1">Descripción:</span>   <span class="def-term-text">{{definition.description}}</span> </p>
                            </div>
                            {{else}}
                          <p class="pads mt-4"><span class="shadow-text-title1">El usuario no ha aportado una definición</span>  </p>
                            {{/if}}
                            
                            {{#if definition.example}}
                            <div class="shadow-text2">
                              <p class="pads"><span class="shadow-text-title2">Ejemplo:</span>   <span class="def-term-text">{{definition.example}}</span> </p>
                            </div>  
                            {{else}}
                          <p class="pads mt-4"><span class="shadow-text-title1">El usuario no ha aportado un </span>  </p>
                            {{/if}}
                        </div>        

            <div >
        </div>
</center>
      </div>
    </div>
            <div class="col-md-2 img-boxing-2 zoom2">
      <a href="{{definition.file}}"><img src="{{definition.file}}" width="100%" height="100%" class="" alt="..." class="d-flex"> </a> 
        </div>
  </div>
  {{/each}}
    </div>
      <h3 class="m-5" style="color:white">Recuerda que puedes filtrar con las herramientas de la barra de navegación</h3>

