    {{> navbar}}





<div class="row" id="list-of">
    {{#each definitions as |definition|}}
        <div class="col-3">
            <div class="card mb-4">
                <img src="{{definition.link}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Término: {{definition.name}}</h5>
                    <p class="card-text">Descripción: {{definition.description}}</p>
                    <p class="card-text">Ejemplo: {{definition.example}}</p>
                    <p class="card-text">Fuente: {{definition.link}}</p>
                    <p class="card-text">Autor: {{definition.author}}</p>
                    <a href="list/{{definition.id}}" class="btn btn-primary">Ver detalles</a>
                <form action="/list/{{definition.id}}/delete" method="post">
                    <button type="submit">Borrar ejemplo</button>
                </form>
                </div>
            </div>
        </div>
    {{/each}}
</div>