    {{> navbar}}  
    <div id="body-profile-top-img">
      <hr>
    <h2 id="text-welcome" class="mt-5">Este es tu perfil con tus definiciones y podrás modificarlos como quieras </h2>
    <hr>
    <h3 id="text-welcome-user">... Bienvenido <span style="color:rgb(14, 228, 248)">{{currentUser.nickname}}</span>!, nos encanta que nos visites desde <span style="color:rgb(14, 228, 248)">{{currentUser.country}}</span>. 
      Nos consta que eres fan de ser <span style="color:rgb(14, 228, 248)">{{currentUser.preference1}}</span>.
      Encontrarás usuarios con aficiones parecidas ya que nos dijiste "<span style="color:rgb(14, 228, 248)">{{currentUser.knowledge}}</span>" Se nota que eres valiente y audaz.
       Nos vendrá bien la sabiduría de un experto en <span style="color:rgb(14, 228, 248)">{{currentUser.preference2}}</span>. <br> Gracias de antemano por tus aportaciones
      </h3>
    </div>

    {{#each definitions as |definition|}}
<div id="body-profile-img">
<div class="card card-box">
  <div class="row ">
    <div class="col-md-2 img-boxing zoom">
   <a href="{{definition.link}}"><img src="{{definition.link}}" width="100%" height="100%" class="" alt="..." class="d-flex"> </a> 
    </div>
    <div class="col-md-8">
                    <h5 class="card-title d-inline-flex mx-3 ">Término: <span class="def-term"> {{definition.name}}</span></h5>               
                    <h5 class="pads d-inline-flex mx-3">Categoría:  <span class="def-term"> {{definition.category}}</span></h5>
                    <h5 class="card-title d-inline-flex mx-3 ">Autor: <span class="def-term"> {{definition.author.nickname}}</span></h5>    
                    <div id="text-desc-container">
                        <div class="shadow-text1">
                          <p class="pads"><span class="shadow-text-title1">Descripción:</span>   <span class="def-term-text">{{definition.description}}</span> </p>
                        </div>
                        <div class="shadow-text2">
                          <p class="pads"><span class="shadow-text-title2">Ejemplo:</span>   <span class="def-term-text">{{definition.example}}</span> </p>
                        </div>  
                    </div>           
                    
                    {{#if ...currentUser}}
                    <div class="d-flex float-end mt-3">
                    <a href="/profile/{{definition.id}}" class="btn-8 custom-btn-9">Inspeccionar</a>
                <form action="/profile/{{definition.id}}/delete" method="post">
                    <button class="btn-9 custom-btn-9" type="submit">Borrar</button>
                    </div>
                    {{/if}}
                </form>

      </div>
    </div>
  </div>
  {{/each}}

</div>
    <div id="body-profile-top-img">
      <hr>
      <div id="text-end-profile">
    <h3 class="mt-5">Ten en cuenta que los admins podrán borrar o modificar tus ejemplos si lo ven necesario</h3>
    <h3 class="mb-5">Es por cuestiones de seguridad nacional</h3>
    <h3 class="mb-5">Si tienes dudas, recuerda que ცნობისმოყვარე ადამიანი ხარ. კარგი, მაგრამ ვწუხვარ, რომ დრო დავკარგე. <br> Y si no, pulsa este <a href="/never">link </a> </h3>   
      </div>
    <hr>
    </div>